Repository Oichkatzelesfrettschen/tarantula: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format, clang-tidy, shellcheck

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: compiledb
        name: generate compile_commands.json
        entry: tools/generate_compiledb.sh
        language: system
        pass_filenames: false
      - id: clang-format
        name: clang-format
        entry: clang-format -i
        language: system
        files: \.(c|cpp|h|hpp)$
      - id: clang-tidy
        name: clang-tidy
        entry: tools/run_clang_tidy.sh
        language: system
        files: \.(c|cpp|h|hpp)$
      - id: shellcheck
        name: shellcheck
        entry: shellcheck
        language: system
        files: \.sh$

tools: add script to update dependency graph
  docs/modernization_plan.md
  tools/update_dependency_graph.sh
Due: shellcheck

docs: explain arch.h usage and include header
  docs/cross_architecture_porting.md
  src-headers/spinlock.h
  src-uland/fs-server/vfs_bio.c
  usr/src/sys/kern/vfs_bio.c
Due: clang-format, clang-tidy

tools: add dependency graph make target
  docs/modernization_plan.md
  tools/Makefile
Due: none

Add CI workflow and allow compiler override
  .github/workflows/build.yml
  CMakeLists.txt
Due: none

Document scheduler counters with BitInt
  src-headers/exokernel.h
  src-lib/libkern_sched/runqueue.c
  tests/sched_stub.c
Due: clang-format, clang-tidy

sys: update static_assert handling
  docs/refactor_c23_tasks.md
  usr/src/sys/sys/cdefs.h
Due: clang-format, clang-tidy

Switch docs and tooling to CMake/Ninja
  .github/workflows/build.yml
  README.md
  docs/building_kernel.md
  docs/cmake_upgrade.md
  docs/exokernel_testing.md
  tools/check_build_env.sh
  tools/generate_compiledb.sh
Due: shellcheck

docs: replace bmake references
  docs/AGENTS.md
  docs/cmake_upgrade.md
  docs/debug_build_env.md
Due: none

fix protoc installer duplication
  setup.sh
Due: shellcheck

fix(libpathtrans): install library to src-lib
  docs/reorg_continuation_tasks.md
  usr/src/libpathtrans/Makefile
  usr/src/libpathtrans/examples/Makefile
  usr/src/libpathtrans/tests/Makefile
Due: none

docs: refresh file inventory
  docs/file_inventory.txt
Due: none

docs: clarify post-FHS source layout step
  docs/fhs_migration.md
  docs/microkernel_plan.md
Due: none

Document IPC helpers and refine setup
  CMakeLists.txt
  docs/Doxyfile
  setup.sh
  src-headers/ipc.h
  src-headers/libipc.h
  src-kernel/proc_hooks.c
  src-kernel/sched_hooks.c
  src-kernel/vfs_hooks.c
  src-kernel/vm_hooks.c
  src-lib/libipc/ipc.c
  src-uland/libipc/ipc.h
  src-uland/servers/reincarnation/reincarnation.c
  tests/test_mailbox.c
  usr/src/lib/libc/string/strcmp.c
  usr/src/lib/libc/string/strcpy.c
  usr/src/sys/libkern/bcmp.c
  usr/src/sys/libkern/ffs.c
Due: clang-format, clang-tidy, shellcheck

ipc: add yield send helper
  docs/lattice_ipc_spec.md
  src-headers/ipc.h
  src-lib/libipc/ipc.c
  tests/test_mailbox.c
Due: clang-format, clang-tidy

refine architecture guide
  docs/architecture_design.md
  setup.sh
Due: shellcheck

refactor setup script
  README.md
  setup.sh
Due: shellcheck

Update docs after CI workflow removal
  .github/workflows/build.yml
  docs/file_inventory.txt
  docs/modernization_plan.md
  docs/refactor_c23_tasks.md
  docs/reorg_continuation_tasks.md
Due: none

cmake: add optional x86-64 flags
  CMakeLists.txt
  README.md
  docs/cmake_upgrade.md
Due: none

fs_server: include sys/types.h
  src-uland/fs-server/fs_open.c
  src-uland/fs-server/vfs_bio.c
  src-uland/fs-server/vfs_cache.c
Due: clang-format, clang-tidy

Remove binary artifacts and update ignore rules
  .gitignore
  docs/reorg_continuation_tasks.md
  usr/src/bin/csh/USD.doc/csh.a
  usr/src/contrib/gzip-1.2.4/amiga/match.a
  usr/src/sys/hp300/hp300/hpux_float.o
  usr/src/sys/luna68k/luna68k/hpux_float.o
Due: none

build: tune clang for x86-64-v1
  CMakeLists.txt
  docs/building_kernel.md
Due: none

Update docs/building_kernel.md
  docs/building_kernel.md
Due: none

tests: link with cmake libs
  docs/building_kernel.md
  tests/Makefile
Due: none

remove binary objects from usr/src and update gitignore
  .gitignore
  usr/src/sys/hp300/hp300/hpux_float.o
  usr/src/sys/luna68k/luna68k/hpux_float.o
Due: none

chore: ignore CMake and Ninja build outputs
  .gitignore
Due: none

docs: advise removal of build outputs
  docs/building_kernel.md
Due: none

cmake: add clang baseline option
  CMakeLists.txt
  docs/building_kernel.md
Due: none

tools: enforce YACC variable
  docs/building_kernel.md
  tools/check_build_env.sh
Due: shellcheck

setup: enforce bison presence
  docs/building_kernel.md
  setup.sh
Due: shellcheck

cmake: enable simd for fs_server
  CMakeLists.txt
  docs/performance_notes.md
Due: none

Convert userland servers to CMake
  CMakeLists.txt
  src-uland/servers/proc_manager/CMakeLists.txt
  src-uland/servers/proc_manager/Makefile
  src-uland/servers/reincarnation/CMakeLists.txt
  src-uland/servers/reincarnation/Makefile
Due: none

Add pre-commit configuration
  .pre-commit-config.yaml
  docs/precommit.md
Due: none

Improve default SSE optimization flags
  .codex/setup.sh
  CMakeLists.txt
  docs/performance_notes.md
Due: shellcheck

Remove kernel compile flag
  CMakeLists.txt
  src-uland/fs-server/fs_open.c
Due: clang-format, clang-tidy

chore: ignore build directory
  .gitignore
Due: none

build: add x86-64 compile flags
  CMakeLists.txt
  docs/building_kernel.md
Due: none

setup: ensure bison installed and YACC exported
  docs/building_kernel.md
  setup.sh
Due: shellcheck

Document files containing CMU license headers
  docs/cmu_license_files.txt
  tools/find_cmu_licenses.py
Due: none

fix headers and ignore build artifacts
  .gitignore
  PROJECT_STATUS.md
  src-headers/exokernel.h
  src-headers/sys/systm.h
Due: clang-format, clang-tidy
