Repository Oichkatzelesfrettschen/tarantula: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format, clang-tidy, shellcheck

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: compiledb
        name: generate compile_commands.json
        entry: tools/generate_compiledb.sh
        language: system
        pass_filenames: false
      - id: clang-format
        name: clang-format
        entry: clang-format -i
        language: system
        files: \.(c|cpp|h|hpp)$
      - id: clang-tidy
        name: clang-tidy
        entry: tools/run_clang_tidy.sh
        language: system
        files: \.(c|cpp|h|hpp)$
      - id: shellcheck
        name: shellcheck
        entry: shellcheck
        language: system
        files: \.sh$

libipc: add circular mailbox log
  src-lib/libipc/ipc.c
Due: clang-format, clang-tidy

libpathtrans: add wrappers and tests
  usr/src/libpathtrans/examples/Makefile
  usr/src/libpathtrans/examples/demo.c
  usr/src/libpathtrans/src/pathtrans.c
  usr/src/libpathtrans/tests/Makefile
  usr/src/libpathtrans/tests/run_tests.sh
  usr/src/libpathtrans/tests/test_chdir_getcwd.c
  usr/src/libpathtrans/tests/test_execve.c
  usr/src/libpathtrans/tests/test_link_unlink.c
Due: clang-format, clang-tidy, shellcheck

Add in-memory directory listing helper
  Makefile
  include/dirent.h
  tests/Makefile
  tests/posix/Makefile
  tests/posix/dirlist.c
  tests/posix/inmemfs.c
Due: clang-format, clang-tidy

Extend execve and waitpid stubs
  Makefile
  src-headers/exokernel.h
  src-headers/ipc.h
  src-headers/proc_manager.h
  src-kernel/proc_hooks.c
  src-uland/servers/proc_manager/pm_entry.c
  tests/include/proc_manager.h
  tests/test_kern.c
  tools/spawn_wait_demo/Makefile
  tools/spawn_wait_demo/spawn_wait_demo.c
  usr/src/sys/tests/benchmarks/pipeback.c
  usr/src/sys/tests/benchmarks/pipediscard.c
  usr/src/sys/tests/benchmarks/pipeself.c
Due: clang-format, clang-tidy

Add capability-backed FIFO support
  CMakeLists.txt
  Makefile
  src-headers/posix.h
  src-lib/libposix/Makefile
  src-lib/libposix/posix.c
  src-uland/libposix/Makefile
  tests/Makefile
  tests/fifo_test.c
Due: clang-format, clang-tidy

Add POSIX network helpers
  docs/posix_compat.md
  src-headers/posix_helpers.h
  src-lib/libposix/Makefile
  src-lib/libposix/posix_helpers.c
  tests/Makefile
  tests/test_posix_net.c
Due: clang-format, clang-tidy

Add posix memory wrappers
  Makefile
  modern/tests/Makefile
  modern/tests/mprotect_demo.c
  src-headers/posix.h
  src-lib/posix/Makefile
  src-lib/posix/posix.c
  src-uland/posix/Makefile
  tests/Makefile
  tests/test_kern.c
Due: clang-format, clang-tidy

Add basic pthread compatibility layer
  CMakeLists.txt
  docs/posix_compat.md
  meson.build
  src-headers/pthread.h
  src-lib/pthread/Makefile
  src-lib/pthread/pthread.c
Due: clang-format, clang-tidy

Add timer library with nanosleep tracking
  Makefile
  docs/timer_library.md
  meson.build
  src-headers/timer.h
  src-lib/libtimer/Makefile
  src-lib/libtimer/timer.c
  src-uland/libtimer/Makefile
  tests/Makefile
  tests/test_timer.c
Due: clang-format, clang-tidy

Add capability-based POSIX IPC wrappers
  docs/IPC.md
  meson.build
  modern/tests/Makefile
  modern/tests/posix_ipc_demo.c
  src-headers/posix_ipc.h
  src-lib/libipc/ipc.c
Due: clang-format, clang-tidy

build: drop ipc source from kernel meson
  src-kernel/meson.build
Due: none

setup: add offline package install
  README.md
  offline_packages/README.md
  setup.sh
Due: shellcheck

libkern_sched: implement run queue helpers
  meson.build
  src-headers/runqueue.h
  src-lib/libkern_sched/kern_sched.c
  src-lib/libkern_sched/runqueue.c
  src-lib/libvm/vm_glue.c
Due: clang-format, clang-tidy

Add POSIX signal wrappers
  docs/posix_signals.md
  modern/tests/posix_signal_demo.c
  src-headers/posix_signal.h
  src-lib/libposix/Makefile
  src-lib/libposix/posix_signal.c
  tests/posix/Makefile
  tests/posix/signal_test.c
Due: clang-format, clang-tidy

setup: add clang tools and ccache
  .codex/setup.sh
  src-headers/machine/types.h
  src-headers/sys/systm.h
  src-lib/libkern_sched/Makefile
  tests/sched_stub.c
  tests/test_kern.c
  usr/src/sys/sys/systm.h
Due: clang-format, clang-tidy, shellcheck

update setup script with theorem prover installs
  .codex/setup.sh
  README.md
  docs/building_kernel.md
  docs/precommit.md
Due: shellcheck

Improve setup script with offline detection
  .codex/setup.sh
  README.md
  docs/building_kernel.md
Due: shellcheck

docs: add Codex bootstrap instructions and systemd unit
  AGENTS.md
  README.md
  docs/codex_bootstrap.md
  etc/systemd/system/codex-setup.service
Due: none

fix: streamline protoc installer
  setup.sh
Due: shellcheck

Switch docs and CI to CMake
  .github/workflows/build.yml
  README.md
  docs/building_kernel.md
  docs/cmake_upgrade.md
  docs/exokernel_testing.md
  setup.sh
  tools/check_build_env.sh
  tools/generate_compiledb.sh
Due: shellcheck

docs: update build notes for CMake
  docs/building_kernel.md
  docs/ci_workflows.md
  third_party/AGENTS.md
  third_party/README.md
Due: none

Update README.md
  README.md
Due: none

Move dependency graph to docs
  README.md
  docs/AGENTS.md
  docs/dependency_graph.dot
  docs/file_inventory.txt
Due: none

setup: add debug tracing and npm fallback
  README.md
  setup.sh
Due: shellcheck

docs: prefix engine path
  docs/IPC.md
  docs/building_kernel.md
  docs/cross_architecture_porting.md
  docs/exokernel_plan.md
  docs/exokernel_subsystems.md
  docs/exokernel_testing.md
  docs/fhs_migration.md
  docs/file_inventory.txt
  docs/hybrid_kernel_plan.md
  docs/hybrid_plan.md
  docs/microkernel_functional_model.md
  docs/microkernel_plan.md
  docs/refactor_c23_tasks.md
  docs/reorg_plan.md
Due: none

setup: add EXTRA_URLS download support
  README.md
  setup.sh
Due: shellcheck

Move modern tests into tests/modern
  Makefile
  docs/IPC.md
  docs/posix_signals.md
  meson.build
  tests/modern/Makefile
  tests/modern/README.md
  tests/modern/memserver_test.c
  tests/modern/posix_ipc_demo.c
  tests/modern/posix_signal_demo.c
Due: clang-format, clang-tidy

Update setup script with formal tools
  README.md
  setup.sh
Due: shellcheck

enhance setup script with retry logic
  README.md
  setup.sh
Due: shellcheck

Remove obsolete makefiles and add listing script
  Makefile
  docs/AGENTS.md
  docs/cmake_upgrade.md
  docs/makefile_inventory.txt
  src-kernel/Makefile
  src-lib/libipc/Makefile
  src-lib/libkern_sched/Makefile
  src-lib/libposix/Makefile
  src-lib/libvm/Makefile
  src-uland/fs-server/Makefile
  src-uland/libipc/Makefile
  src-uland/libkern_sched/Makefile
  src-uland/libposix/Makefile
  src-uland/libvm/Makefile
  tools/AGENTS.md
  tools/list_makefiles.py
Due: none

setup: auto-detect offline mode
  README.md
  setup.sh
Due: shellcheck

docs: add extras and manual pages overview
  docs/extras_and_addons.md
Due: none

docs: outline header unification
  SOURCE_TREE_OVERVIEW.md
  docs/reorg_continuation_tasks.md
  tools/sync_sys_headers.sh
Due: shellcheck

cdefs: use static_assert when available
  docs/refactor_c23_tasks.md
  usr/src/sys/sys/cdefs.h
Due: clang-format, clang-tidy

headers: use C23 attributes
  src-headers/spinlock.h
Due: clang-format, clang-tidy

Remove CI and non-clang builds
  .github/AGENTS.md
  .github/codeql/codeql-config.yml
  .github/workflows/AGENTS.md
  .github/workflows/build.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/reviewdog.yml
  .pre-commit-config.yaml
  CMakeLists.txt
  README.md
  docs/agents_overview.md
  docs/ci_workflows.md
  docs/cmake_upgrade.md
  docs/file_inventory.txt
  meson.build
  src-kernel/meson.build
Due: none

kernel: vectorize vfs_bufstats zeroing
  docs/performance_notes.md
  src-uland/fs-server/vfs_bio.c
  tools/bench_vfs_bufstats.c
  usr/src/sys/kern/vfs_bio.c
Due: clang-format, clang-tidy

Add architecture helper header and use it
  CMakeLists.txt
  docs/cross_architecture_porting.md
  src-headers/arch.h
  src-lib/libvm/vm_glue.c
  src-lib/libvm/vm_page.c
Due: clang-format, clang-tidy
