Repository Oichkatzelesfrettschen/tarantula: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format, clang-tidy, shellcheck

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: compiledb
        name: generate compile_commands.json
        entry: tools/generate_compiledb.sh
        language: system
        pass_filenames: false
      - id: clang-format
        name: clang-format
        entry: clang-format -i
        language: system
        files: \.(c|cpp|h|hpp)$
      - id: clang-tidy
        name: clang-tidy
        entry: tools/run_clang_tidy.sh
        language: system
        files: \.(c|cpp|h|hpp)$
      - id: shellcheck
        name: shellcheck
        entry: shellcheck
        language: system
        files: \.sh$

docs: fix reviewdog workflow snippet
  docs/ci_workflows.md
Due: none

Add CodeQL configuration
  .github/codeql/codeql-config.yml
Due: none

Add root test target and update docs
  Makefile
  docs/ci_workflows.md
  docs/exokernel_testing.md
Due: none

docs: add kernel self-test instructions
  docs/building_kernel.md
Due: none

setup: add black, ruff, golangci-lint
  setup.sh
Due: shellcheck

ci: install pre-commit tools
  .github/workflows/build.yml
Due: none

chore(ci): install all linters
  .github/workflows/reviewdog.yml
Due: none

docs: add cross arch notes and language ports
  SOURCE_TREE_OVERVIEW.md
  docs/cross_architecture_porting.md
  docs/refactor_c23_tasks.md
  ports/README.md
  ports/chicken/README.md
  ports/chicken/hello.scm
  ports/go/README.md
  ports/go/hello.go
  src-headers/arch.h
Due: clang-format, clang-tidy

Update setup to use apt for bmake
  README.md
  docs/building_kernel.md
  docs/ci_workflows.md
  setup.sh
Due: shellcheck

Improve spinlock utilities
  docs/microkernel_functional_model.md
  src-headers/spinlock.h
Due: clang-format, clang-tidy

Add C++ spinlock wrapper and test
  docs/microkernel_functional_model.md
  src-headers/spinlock.hpp
  tests/Makefile
  tests/test_spinlock.cpp
Due: clang-format, clang-tidy

Move scheduler and VM libs to src-lib
  .github/workflows/build.yml
  Makefile
  docs/file_inventory.txt
  docs/microkernel_functional_model.md
  src-lib/libkern_sched/Makefile
  src-lib/libkern_sched/kern_sched.c
  src-lib/libvm/Makefile
  src-lib/libvm/device_pager.c
  src-lib/libvm/swap_pager.c
  src-lib/libvm/vm_entry.c
  src-lib/libvm/vm_fault.c
  src-lib/libvm/vm_glue.c
  src-lib/libvm/vm_init.c
  src-lib/libvm/vm_kern.c
  src-lib/libvm/vm_map.c
  src-lib/libvm/vm_meter.c
  src-lib/libvm/vm_mmap.c
  src-lib/libvm/vm_object.c
  src-lib/libvm/vm_page.c
  src-lib/libvm/vm_pageout.c
  src-lib/libvm/vm_pager.c
  src-lib/libvm/vm_swap.c
  src-lib/libvm/vm_unix.c
  src-lib/libvm/vm_user.c
  src-lib/libvm/vnode_pager.c
  src-uland/AGENTS.md
  src-uland/libkern_sched/Makefile
  src-uland/libvm/Makefile
Due: clang-format, clang-tidy

Fix 64-bit build errors
  src-headers/spinlock.h
  tests/Makefile
  tools/run_clang_tidy.sh
Due: clang-format, clang-tidy, shellcheck

Fix kernel stub replies and test
  src-kernel/proc_hooks.c
  src-kernel/vfs_hooks.c
  src-kernel/vm_hooks.c
  tests/test_kern.c
  tests/test_spinlock.cpp
Due: clang-format, clang-tidy

spinlock: add cacheline alignment and ticketlock
  docs/microkernel_functional_model.md
  src-headers/spinlock.h
Due: clang-format, clang-tidy

Add SVR4 machdep header
  src-headers/compat/svr4/svr4_machdep.h
Due: clang-format, clang-tidy

Modernize svr4 machdep header
  docs/refactor_c23_tasks.md
  src-headers/compat/svr4/svr4_machdep.h
Due: clang-format, clang-tidy

Add configurable spinlock options
  README.md
  src-headers/spinlock.h
Due: clang-format, clang-tidy

build: enforce c23 standard and warnings
  Makefile
  docs/building_kernel.md
  src-headers/spinlock.hpp
  src-kernel/Makefile
  src-kernel/meson.build
  src-lib/libipc/Makefile
  src-lib/libkern_sched/Makefile
  src-lib/libvm/Makefile
  src-uland/fs-server/Makefile
  src-uland/init/Makefile
  src-uland/libipc/Makefile
  src-uland/libkern_sched/Makefile
  src-uland/libvm/Makefile
  src-uland/servers/proc_manager/Makefile
  src-uland/servers/reincarnation/Makefile
  tests/Makefile
Due: clang-format, clang-tidy

Add pragma once and modern types
  src-headers/arch.h
  src-headers/compat/svr4/svr4_machdep.h
  src-headers/exokernel.h
  src-headers/fs_server.h
  src-headers/ipc.h
  src-headers/kern_sched.h
  src-headers/libipc.h
  src-headers/libvm.h
  src-headers/machine/ansi.h
  src-headers/machine/cpu.h
  src-headers/machine/endian.h
  src-headers/machine/frame.h
  src-headers/machine/limits.h
  src-headers/machine/param.h
  src-headers/machine/proc.h
  src-headers/machine/signal.h
  src-headers/machine/trap.h
  src-headers/machine/types.h
  src-headers/proc_manager.h
  src-headers/spinlock.h
  src-headers/spinlock.hpp
  src-headers/sys/systm.h
  src-headers/sys/vnode_if.h
  src-lib/libvm/vm_map.c
  src-lib/libvm/vm_object.c
  src-lib/libvm/vm_page.c
Due: clang-format, clang-tidy

Add CMake and Meson build examples
  CMakeLists.txt
  README.md
  docs/building_kernel.md
  meson.build
Due: none

Add scheduler spinlock
  src-headers/sched_lock.h
  src-headers/spinlock.h
  src-lib/libkern_sched/Makefile
  src-lib/libkern_sched/kern_sched.c
  src-lib/libkern_sched/sched_lock.c
  usr/src/sys/i386/i386/locore.s
  usr/src/sys/pmax/pmax/locore.s
  usr/src/sys/sparc/sparc/locore2.c
Due: clang-format, clang-tidy

Add Cap'n Proto helper and memory server
  Makefile
  src-headers/libcapnp.h
  src-lib/libcapnp/Makefile
  src-lib/libcapnp/libcapnp.c
  src-uland/libcapnp/Makefile
  src-uland/libipc/Makefile
  src-uland/libkern_sched/Makefile
  src-uland/libvm/Makefile
  src-uland/servers/AGENTS.md
  src-uland/servers/memory/Makefile
  src-uland/servers/memory/memory_server.c
Due: clang-format, clang-tidy

tests: add mailbox timeout tests
  tests/Makefile
  tests/test_mailbox.c
Due: clang-format, clang-tidy

docs: document IPC mailbox API
  README.md
  docs/IPC.md
Due: none

Introduce ipc_status_t and update queue APIs
  docs/microkernel_functional_model.md
  src-headers/ipc.h
  src-headers/libipc.h
  src-kernel/proc_hooks.c
  src-kernel/sched_hooks.c
  src-kernel/vfs_hooks.c
  src-kernel/vm_hooks.c
  src-lib/libipc/ipc.c
  src-uland/libipc/ipc.h
  src-uland/servers/reincarnation/reincarnation.c
Due: clang-format, clang-tidy

ipc: add timed receive
  docs/microkernel_functional_model.md
  src-headers/ipc.h
  src-headers/libipc.h
  src-lib/libipc/ipc.c
Due: clang-format, clang-tidy

ipc: add per-process mailboxes
  docs/microkernel_functional_model.md
  src-headers/ipc.h
  src-headers/libipc.h
  src-kernel/proc_hooks.c
  src-kernel/sched_hooks.c
  src-kernel/vfs_hooks.c
  src-kernel/vm_hooks.c
  src-lib/libipc/ipc.c
  src-uland/libipc/ipc.h
Due: clang-format, clang-tidy

Add IPC status enum and mailbox helpers
  docs/IPC.md
  docs/microkernel_functional_model.md
  src-headers/exokernel.h
  src-headers/ipc.h
  src-headers/libipc.h
  src-headers/spinlock.h
  src-kernel/proc_hooks.c
  src-kernel/vfs_hooks.c
  src-kernel/vm_hooks.c
  src-lib/libipc/ipc.c
  src-lib/libkern_sched/Makefile
  src-lib/libkern_sched/sched_lock.c
  src-uland/libipc/ipc.h
  src-uland/servers/reincarnation/reincarnation.c
  tests/Makefile
  tests/test_mailbox.c
Due: clang-format, clang-tidy

Add libcapnp stub and memserver tool
  Makefile
  docs/IPC.md
  modern/tests/Makefile
  modern/tests/README.md
  modern/tests/memserver_test.c
  third_party/libcapnp/Makefile
  third_party/libcapnp/README.md
  third_party/libcapnp/message.c
  third_party/libcapnp/message.h
  tools/memserver/Makefile
  tools/memserver/README.md
  tools/memserver/main.c
Due: clang-format, clang-tidy

ipc: add mailbox timed recv
  docs/IPC.md
  src-headers/ipc.h
  src-headers/mailbox_t.h
  src-lib/libipc/ipc.c
  tests/Makefile
  tests/test_mailbox_timeout.c
Due: clang-format, clang-tidy

Use uintptr casts for pointer debug output
  src-lib/libvm/vm_map.c
  src-lib/libvm/vm_object.c
Due: clang-format, clang-tidy

Initialize scheduler lock
  docs/microkernel_functional_model.md
  src-kernel/sched_hooks.c
Due: clang-format, clang-tidy

Add exo_ipc_status API
  docs/IPC.md
  include/exo_ipc.h
  src-headers/ipc.h
  src-headers/libipc.h
  src-kernel/Makefile
  src-kernel/proc_hooks.c
  src-kernel/vfs_hooks.c
  src-kernel/vm_hooks.c
  src-lib/libipc/Makefile
  src-lib/libipc/ipc.c
  src-uland/fs-server/Makefile
  src-uland/init/Makefile
  src-uland/libipc/Makefile
  src-uland/libipc/ipc.h
  src-uland/libvm/Makefile
  src-uland/servers/proc_manager/Makefile
  src-uland/servers/reincarnation/Makefile
  src-uland/servers/reincarnation/reincarnation.c
  tests/Makefile
  tests/test_mailbox.c
Due: clang-format, clang-tidy

docs: outline CMake migration
  README.md
  docs/AGENTS.md
  docs/cmake_upgrade.md
  docs/modernization_plan.md
Due: none

Add Codex setup script and update docs
  .codex/setup.sh
  README.md
  docs/building_kernel.md
  docs/cmake_upgrade.md
  docs/precommit.md
Due: shellcheck

Add environment diagnostic script and docs
  README.md
  docs/debug_build_env.md
  tools/check_build_env.sh
Due: shellcheck

Add runqueue counters
  src-headers/exokernel.h
  src-lib/libkern_sched/Makefile
  src-lib/libkern_sched/runqueue.c
  src-lib/libvm/vm_glue.c
Due: clang-format, clang-tidy

libkern_sched: add runqueue management
  src-headers/runqueue.h
  src-lib/libkern_sched/Makefile
  src-lib/libkern_sched/kern_sched.c
  src-lib/libkern_sched/runqueue.c
Due: clang-format, clang-tidy

Share run queue routines
  usr/src/sys/conf/files
  usr/src/sys/hp300/hp300/locore.s
  usr/src/sys/i386/i386/locore.s
  usr/src/sys/kern/kern_runq.c
  usr/src/sys/luna68k/luna68k/locore.s
  usr/src/sys/news3400/news3400/locore.s
  usr/src/sys/pmax/pmax/locore.s
  usr/src/sys/sys/proc.h
Due: clang-format, clang-tidy
