Repository Oichkatzelesfrettschen/tarantula: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format, clang-tidy, shellcheck

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: compiledb
        name: generate compile_commands.json
        entry: tools/generate_compiledb.sh
        language: system
        pass_filenames: false
      - id: clang-format
        name: clang-format
        entry: clang-format -i
        language: system
        files: \.(c|cpp|h|hpp)$
      - id: clang-tidy
        name: clang-tidy
        entry: tools/run_clang_tidy.sh
        language: system
        files: \.(c|cpp|h|hpp)$
      - id: shellcheck
        name: shellcheck
        entry: shellcheck
        language: system
        files: \.sh$

setup: verify bmake install
  docs/building_kernel.md
  setup.sh
Due: shellcheck

libipc: include stdatomic
  src-uland/libipc/ipc.c
Due: clang-format, clang-tidy

Add libipc header to src-headers and adjust userland builds
  docs/file_inventory.txt
  src-headers/libipc.h
  src-uland/init/Makefile
  src-uland/libipc/Makefile
Due: clang-format, clang-tidy

Add shellcheck support
  .pre-commit-config.yaml
  docs/precommit.md
  setup.sh
Due: shellcheck

chore: add curl error checks
  setup.sh
Due: shellcheck

setup: register source-built bmake
  docs/building_kernel.md
  setup.sh
Due: shellcheck

setup: install codespell via apt/pip
  .pre-commit-config.yaml
  docs/building_kernel.md
  docs/precommit.md
  setup.sh
Due: shellcheck

Add scoped spinlock primitive
  docs/microkernel_functional_model.md
  include/spinlock.h
  src-kernel/ipc.c
  src-kernel/ipc.h
Due: clang-format, clang-tidy

Add shared spinlock abstraction
  docs/microkernel_functional_model.md
  include/spinlock.h
  src-kernel/ipc.c
  src-kernel/ipc.h
  src-uland/libipc/ipc.c
Due: clang-format, clang-tidy

docs: clarify dependency graph generation
  README.md
  dependency_graph.dot
Due: none

config: add yacc and lex rules
  usr/src/usr.sbin/config/Makefile
Due: none

setup: install additional python tools
  docs/precommit.md
  setup.sh
Due: shellcheck

setup: log bmake fallback
  docs/building_kernel.md
  setup.sh
Due: shellcheck

Use aptitude to install bmake
  .github/workflows/build.yml
  README.md
  docs/building_kernel.md
  setup.sh
Due: shellcheck

Add Python 3 shebangs and update docs
  README.md
  docs/exokernel_plan.md
  docs/fhs_migration.md
  docs/microkernel_plan.md
  docs/modernization_plan.md
  docs/refactor_c23_tasks.md
  docs/reorg_continuation_tasks.md
  docs/reorg_plan.md
  tools/analyze_codebase.py
  tools/generate_dependency_graph.py
Due: none

docs: clarify generation of dependency_graph
  README.md
  dependency_graph.dot
Due: none

usr.sbin/config: add explicit yacc and lex rules
  usr/src/usr.sbin/config/Makefile
Due: none

setup: cache bmake source
  docs/building_kernel.md
  setup.sh
  third_party/AGENTS.md
  third_party/README.md
Due: shellcheck

ci: run kernel test
  .github/workflows/build.yml
  docs/ci_workflows.md
Due: none

tools: enhance dependency graph script
  README.md
  docs/modernization_plan.md
  tools/generate_dependency_graph.py
Due: none

Add local package caches
  README.md
  setup.sh
  third_party/AGENTS.md
  third_party/README.md
  third_party/apt/.gitkeep
  third_party/pip/.gitkeep
Due: shellcheck

Move microkernel headers to src-headers
  src-headers/exokernel.h
  src-headers/ipc.h
  src-headers/libipc.h
  src-headers/spinlock.h
  src-kernel/Makefile
  src-kernel/meson.build
  src-kernel/proc_hooks.c
  src-kernel/sched_hooks.c
  src-kernel/vfs_hooks.c
  src-kernel/vm_hooks.c
  src-uland/fs-server/Makefile
  src-uland/libipc/Makefile
  src-uland/libipc/ipc.h
  src-uland/libkern_sched/Makefile
  src-uland/libvm/Makefile
  src-uland/servers/proc_manager/Makefile
  tests/Makefile
Due: clang-format, clang-tidy

Add exokernel image creation script
  docs/exokernel_testing.md
  tools/AGENTS.md
  tools/create_exokernel_image.sh
Due: shellcheck

ci: run pre-commit in build workflow
  .github/workflows/build.yml
  docs/ci_workflows.md
Due: none

Use src directories via variables
  .github/workflows/build.yml
  docs/building_kernel.md
  tools/build_collect_warnings.sh
  tools/generate_compiledb.sh
  tools/generate_cscope.sh
  tools/generate_ctags.sh
  tools/generate_dependency_graph.py
  tools/migrate_to_src_layout.sh
  tools/organize_sources.sh
  tools/post_fhs_cleanup.sh
Due: shellcheck

Refactor IPC queue into shared library
  src-kernel/Makefile
  src-kernel/ipc.c
  src-lib/libipc/Makefile
  src-lib/libipc/ipc.c
  src-uland/libipc/Makefile
Due: clang-format, clang-tidy

Add reincarnation server and integrate startup
  docs/microkernel_plan.md
  src-headers/ipc.h
  src-uland/init/Makefile
  src-uland/init/init.c
  src-uland/servers/reincarnation/Makefile
  src-uland/servers/reincarnation/reincarnation.c
Due: clang-format, clang-tidy

docs: note module pruning when SLOC exceeds limit
  docs/modernization_plan.md
Due: none

docs: outline OOM policy
  docs/microkernel_functional_model.md
Due: none

docs: add capability revocation spec
  docs/exokernel_plan.md
  docs/formal/I-CAP-1.tla
  docs/formal/README.md
Due: none

Add security mode API documentation
  docs/microkernel_functional_model.md
  include/security_mode.h
Due: clang-format, clang-tidy

docs: outline lazy generation revocation
  docs/refactor_c23_tasks.md
Due: none

docs: add performance measurement guidance
  docs/exokernel_testing.md
Due: none

docs: add kernel memory allocator notes
  docs/memory_allocator.md
  docs/microkernel_functional_model.md
Due: none

docs: document platform tlb_sync
  docs/exokernel_plan.md
Due: none

Add recursive build steps to root makefile
  Makefile
Due: none

docs: describe hybrid migration flow
  docs/fhs_migration.md
  docs/hybrid_plan.md
  docs/reorg_plan.md
Due: none

Fix network driver memory null check
  docs/modernization_plan.md
  usr/src/sys/i386/isa/if_we.c
Due: clang-format, clang-tidy

Hook exokernel stubs
  usr/src/sys/conf/files
  usr/src/sys/kern/init_main.c
  usr/src/sys/kern/init_sysent.c
  usr/src/sys/kern/kern_fork.c
  usr/src/sys/kern/vfs_syscalls.c
  usr/src/sys/vm/vm_fault.c
Due: clang-format, clang-tidy

docs: add hybrid kernel plan
  docs/hybrid_kernel_plan.md
Due: none
